*{
	padding: 0px;
	margin: 0xp;
	font-family: sans-serif;

}
body{
	background-color: black;
}

.grid-container{
	width: 960px;
	display: grid;
	padding: 20px;
	border-radius: 50px;
	margin: auto;
}

.grid-item{
	margin: 20px;
}

.grid-container .footer{
	margin-bottom: 0px;
	padding-bottom: 0px: 
}